* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.hero {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(8, 7, 7);
  background-image: url(https://i.pinimg.com/originals/5d/a3/11/5da311e193e3d828e956ed010f95891b.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  color: #fff;
  padding: 0 8%;
}
